:root {
    --color-primary: rgb(0, 128, 0);
    --color-secondary: rgb(1, 196, 1);
    --color-tertiary: #ff585f;
    --color-primary-darker: #18191b;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #0c2b2c;
    --color-footer: #37383d;
    --color-tertiary-opacity: rgb(112, 128, 144);
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin-top: 3.3rem;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-thumb {
    background: #D3D3D3;
    border-radius: 5px;
    padding-right: 2px;
}

/* /////WHATSAPP//// */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .float {
        font-size: 50px;
        width: 100px;
        height: 100px;
    }

    .my-float {
        margin-top: 26px;
    }
}

@media screen and (max-width: 992px) {

    /* WHATSAPP */
    .float {
        width: 120px;
        height: 120px;
        bottom: 100px;
        right: 60px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 100px;
        text-align: center;
        font-size: 70px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .float:hover {
        text-decoration: none;
        color: #25d366;
        background-color: #fff;
    }

    .my-float {
        margin-top: 25px;
    }
}

/*----- HEADER -------*/
header {
    width: 100%;
}

/* BORRAR EN CASO DE CAMBIO */
.abajo {
    background: #fff;
    padding: 0px;
    z-index: 20;
}

.logo {
    width: 200px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .logo {
        width: 300px;
    }

}

.logo-link {
    cursor: pointer;
    position: relative;
    right: 150px;
}

.logo-link-nav {
    cursor: pointer;
}

.list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li {
    display: inline-block;
}

.boton {
    font-family: 'Roboto Condensed', serif;
    letter-spacing: 1px;
    color: var(--color-footer3);
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding: 15px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .boton {
        font-size: 19px;
    }
}


.boton:hover {
    color: var(--color-secondary);
}

nav {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    align-items: center;
    transition: .9s;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.nav-up {
    background-color: #fff;
    padding: 6px;
    margin-left: 20%;
    gap: 20%;
    display: flex;
    transition: .9s;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar .material-symbols-outlined {
    color: #fff;
}

.abajo .material-symbols-outlined {
    color: #000;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

.logo .material-symbols-outlined {
    visibility: hidden;
}


nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 60%;
    padding: 20px 0;
    background-color: var(--color-footer);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.lists {
    margin-top: 10rem;
    list-style: none;
    padding: 0px;
}

.list2 {
    float: none;
    width: 100%;
}

.link {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 2;
    border-left: 10px solid var(--color-secondary);
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.link:hover {
    border-bottom: 0px;
    color: #fff;
}

.link:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

.link:hover:after {
    width: 100%;
    background: var(--color-secondary);
}

nav .sidebar {
    z-index: 7;
    position: fixed;
    top: 0;
    left: -100%;
    height: 40vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    top: 20%;
    pointer-events: auto;
} */



/* ------- body ------------------- */
.barra {
    font-family: 'Roboto Condensed', serif;
    width: 100%;
    display: flex;
    height: 2.4rem;
    background: rgba(238, 238, 238, .3);
    /* box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.25); */
    position: relative;
}

.barra-h1 {
    display: flex;
    position: relative;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    left: 9.4%;
    top: 10px;
}

.barra-h1-icons {
    display: flex;
    position: relative;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    left: 58%;
    top: 7px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .barra {
        height: 2.5rem;
    }

    .barra-h1 {
        font-size: 17px;
        top: 9px;
        left: 8%;
    }

    .barra-h1-icons {
        font-size: 17px;
        top: 10px;
    }
}

@media screen and (max-width: 992px) {
    .barra {
        height: 4.5rem;
    }

    .barra-h1 {
        font-size: 25px;
        top: 17px;
        left: 8%;
    }

    .barra-h1-icons {
        font-size: 17px;
        top: 10px;
    }
}



/* icons

.icons {
    top: -5px;
    display: flex;
    justify-content: right;
    gap: 1rem;
    position: relative;
    left: 60%;
}

.fa-brands:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
    transition: all .6s;
    color: #000;
    background-color: transparent;
}

.fa-brands {
    cursor: pointer;
    padding: 10px 10px;
    font-size: 20px;
    position: relative;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .fa-brands {
        top: 4px;
        font-size: 26px;

    }
}

.icon-wsp {
    color: rgb(1, 196, 1);
}

.fa-facebook {
    color: #55acee;

}

.fa-instagram {
    color: #e4405f;

} */

/* /////// FONDO ///////// */

/* .fondoQS {
    background-image: url(img/image00082.jpeg);
    margin-top: 3.3rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 320px;
    opacity: .9;
} */

/* ////////// TITULO A PRODUCTOS /////////// */
.productos_titulo {
    background-color: #1677be;
    background-image: linear-gradient(160deg, #1677be 0%, #041c30 100%);
    height: 20rem;
    display: flex;
    width: 100%;
    max-width: 100%;
}

.productos_titulo1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productos_titulo_h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-left: 9rem;
    padding-top: 1rem;
}

.productos_titulo_h1 span {
    color: #fff;
}

.elementor_divider {
    height: 5px;
    width: 7rem;
    position: relative;
    left: 9.1rem;
    top: 1rem;
    background-color: rgb(0, 191, 255);
}


.productos_titulo p {
    color: #fff;
    margin-left: 9rem;
    font-size: 22px;
    font-weight: 600;
}

.productos_titulo_img {
    flex-direction: row;
    position: relative;
    top: 4.7rem;
    left: 0rem;
}

.productos_titulo_img1 {
    width: 200px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .productos_titulo {
        display: flex;
        height: 30rem;
    }

    .productos_titulo_h1 {
        font-size: 35px;
    }


    .productos_titulo p {
        font-size: 40px;
    }

    .elementor_divider {
        height: 5px;
        width: 10rem;
    }

    .productos_titulo_img {
        flex-direction: row;
        position: relative;
        top: 6.5rem;
        left: 0rem;
    }

    .productos_titulo_img1 {
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    .productos_titulo {
        height: 60rem;
    }

    .productos_titulo_h1 {
        font-size: 50px;
    }

    .productos_titulo p {
        font-size: 35px;
    }

    .elementor_divider {
        height: 10px;
        width: 16rem;
    }

    .productos_titulo_img {
        display: flex;
        left: -6rem;
        top: 43%;
    }

    .productos_titulo_img1 {
        width: 180px;
    }

}



/*/////////////////// OPERATIONS ////////////////////////*/
.operations {
    display: flex;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20rem;
    margin-top: 5rem;
}

.operations__tab-container {
    position: relative;
    justify-content: center;
    margin-bottom: 5rem;
}

.operations__tab-container h1 {
    position: relative;
    left: 3rem;
    font-size: 19px;
    margin-bottom: 1rem;
}

.operations__tab {
    /* margin-right: 1rem; */
    /* transform: translateY(-50%); */
    color: #fff;
}

.operations__tab span {
    font-family: 'Roboto Condensed', serif;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

button p {
    color: #fff;
    margin-top: 5px;
    font-size: 12px;
}

.operations__tab--active {
    color: #aaa;
    /* background-color: var(--color-footer); */
    /* transform: translateY(-66%); */
}

.operations__content {
    display: none;
    background-color: #fff;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
}

.operations__content--active {
    display: grid;
    width: 100%;
    /* height: 70rem; */
}

.operations__content--3 {
    height: 120rem;
}

.operations__content--1 {
    height: 70rem;
}

.operations__content--2 {
    height: 70rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {

    .operations__tab-container h1 {
        left: 4rem;
        font-size: 22px;
    }

    .operations__content--3 {
        height: 160rem;
    }

    .operations__content--1 {
        height: 100rem;
    }

    .operations__content--2 {
        height: 100rem;
    }
}

.btn {
    background-color: var(--color-footer);
    border-radius: 10px;
    margin-top: 1rem;
    width: 15rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    cursor: pointer;
    /* border-bottom: 1px solid #D3D3D3; */
    font-size: 13px;
    font-weight: 400;
    position: relative;
    left: 3rem;
    padding: 10px;
}

.btn:hover {
    color: #fff;
    background-color: var(--color-footer);
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .btn {
        width: 25rem;
        height: 8rem;
        padding: 30px;
    }

    .operations__tab span {
        font-size: 24px;
    }

    button p {
        font-size: 18px;
    }
}


@media screen and (max-width: 992px) {
    .operations {
        flex-direction: column;
        margin-bottom: 30rem;
    }

    .btn {
        position: relative;
        bottom: 5rem;
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        left: 0rem;
    }

    .operations__tab {
        background-color: transparent;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .operations__tab--active {
        color: var(--color-primary);
    }

    /* CAMBIAR EN CASO DE CAMBIAR LA ELECCION DE PRODUCTOS */
    .operations__tab:nth-child(2) {
        opacity: .9;
        background-image: url(img/ejemplo\ vidrio.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .operations__tab:nth-child(3) {
        opacity: .9;
        background-image: url(img/vidrios.titulo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .operations__tab:nth-child(4) {
        opacity: .9;
        background-image: url(img/4168.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .operations__tab-container {
        position: relative;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .operations__tab-container h1 {
        display: none;
        visibility: hidden;
    }

    .operations__tab span {
        position: relative;
        left: 40%;
        font-size: 40px;
        font-weight: 600;
    }

    button p {
        position: relative;
        left: 39%;
        font-size: 22px;
        color: #aaa;
        margin-top: 5px;
    }

    .operations__content {
        display: none;
        font-size: 1.7rem;
    }

    .operations__content--active {
        display: grid;
        width: 100%;
    }

    .operations__content--3 {
        height: 830rem;
    }

    .operations__content--1 {
        height: 480rem;
    }

    .operations__content--2 {
        height: 480rem;
    }
}

.productos_publicity {
    background-image: url(img/publicidad_productos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-color: #fff;
    width: 60%;
    margin: 1rem 10rem 4rem 20rem;
    height: 20rem;
}

/*////////// GRID VIDRIO////// */
.grid-container {
    text-align: center;
    display: grid;
    position: relative;
    margin-left: 10%;
    grid-template-rows: repeat(4, 700px);
    grid-template-columns: repeat(3, 21rem);
    gap: 2rem;
}

/* 
.--1 {
    position: relative;
    padding: 1rem;
    left: 1rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
} */

/* 
.team-area h1 {
    letter-spacing: 15px;
    margin-bottom: 2rem;
    font-weight: 600;
    color: rgb(189, 236, 182, .6);
    font-size: 10rem;
    margin-bottom: 1rem;
}

.team-area p {
    padding: 0 30px 0 30px;
    font-weight: 300;
    color: #333;
    font-size: 17px;
    text-align: left;
}

.team-area h2 {
    padding: 0 30px 0 30px;
    font-weight: 500;
    color: var(--color-footer);
    text-align: left;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.team-area img {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
} */

/*//////////VIDRIOS/GRIDS DE VIDRIOS ////// */
.grid-item4 {
    border-radius: 10px;
    text-align: left;
    /* border: 3px solid #eee; */
    /* background-color: rgba(238, 238, 238, .3); */
}

.grid-item4:hover {
    cursor: pointer;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.12);
}

.grid-item4 h1 {
    color: #000;
    font-size: 30px;
    margin-left: 1rem;
    margin-top: 7px;
}

.grid-item4 h2 {
    font-size: 17px;
    color: var(--color-secondary);
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.grid-item4 p {
    font-weight: 400;
    color: #000;
    font-size: 11px;
    padding: 14px;
}

.grid-item4 img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .grid-container {
        text-align: center;
        display: grid;
        position: relative;
        margin-left: 5%;
        grid-template-rows: repeat(4, 900px);
        grid-template-columns: repeat(3, 26rem);
        gap: 4rem;
    }

    .grid-item4 {
        width: 28rem;
        border-radius: 20px;
    }

    .grid-item4 h1 {
        font-size: 37px;
        margin-left: 1rem;
        margin-top: 7px;
    }

    .grid-item4 h2 {
        font-size: 25px;
    }

    .grid-item4 p {
        font-size: 15px;
    }

    .grid-item4 img {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 992px) {
    .grid-container {
        text-align: center;
        display: grid;
        position: relative;
        margin-left: 5%;
        grid-template-rows: repeat(4, 1500px);
        grid-template-columns: repeat(1, 40rem);
        gap: 7rem;
    }

    .grid-item4 {
        max-height: 110rem;
        width: 55rem;
        border-radius: 20px;
    }

    .grid-item4 h1 {
        font-size: 65px;
        margin-left: 1rem;
        margin-top: 11px;
    }

    .grid-item4 h2 {
        font-size: 36px;
    }

    .grid-item4 p {
        font-size: 26px;
    }

    .grid-item4 img {
        width: 100%;
        height: 60%;
    }
}

/* ////////// AVISO /////////////// */
.aviso {
    position: relative;
    top: 5rem;
    background-image: url(img/fondoparadim5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 30rem;
    width: 100%;
}

.aviso_section {
    text-align: center;
    position: relative;
    top: 40%;
    margin: 0 auto;
}

.aviso_section h1 {
    color: #fff;
    font-size: 35px;
}

.aviso_section p {
    color: #fff;
    font-size: 20px;
}

.aviso_section a {
    font-size: .9rem;
    color: #fff;
    position: relative;
    text-align: center;
    top: 3rem;
    background-color: var(--color-secondary);
    padding: 10px 35px;
}

.button3:hover {
    background-color: #fff;
    color: var(--color-secondary);
    transition: 0.1s;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .aviso {
        height: 45rem;
    }

    .aviso_section h1 {
        font-size: 45px;
    }

    .aviso_section p {
        font-size: 25px;
    }

    .aviso_section a {
        font-size: 1.2rem;
        top: 3rem;
        width: 11rem;
        padding: 15px 60px;
    }
}

@media screen and (max-width: 992px) {
    .aviso {
        height: 80rem;
    }

    .aviso_section h1 {
        font-size: 50px;
    }

    .aviso_section p {
        margin-top: 1rem;
        font-size: 40px;
    }

    .aviso_section a {
        font-size: 1.8rem;
        top: 3rem;
        width: 18rem;
        padding: 15px 40px;
    }
}

/*////////// TIPOS DE ABERTURAS ////// */
.contenedor_tdv {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin-top: 10rem;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.h1_ventanas {
    padding: 20px 250px 20px 250px;
    color: #000;
    display: flex;
    font-size: 50px;
    font-weight: 600;
}

.p_ventanas {
    text-align: left;
    font-weight: 400;
    color: #000;
    padding: 20px 250px 20px 250px;
    font-size: 15px;
}

/* IMAGENES DE VENTANAS */
.imagenes_ventanas {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, 300px);

}

.flex_img {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_tdv {
    position: relative;
    left: 3rem;
    width: 200px;
    height: 200px;
}

.titulo_img {
    padding: 10px 30px;
    background-color: #1677be;
    display: flex;
    margin-top: 1rem;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

/* -------- */

@media (min-width: 1920px) and (max-width: 2560px) {
    .imagenes_ventanas {
        display: grid;
        gap: 2rem;
        justify-content: center;
        grid-template-rows: repeat(3, 340px);
        grid-template-columns: repeat(4, 340px);
    }

    .h1_ventanas {
        padding: 20px 400px 20px 400px;
        font-size: 55px;
    }

    .p_ventanas {
        padding: 20px 400px 20px 400px;
        font-size: 19px;
    }

    .img_tdv {
        left: 4rem;
    }
}

@media screen and (max-width: 992px) {

    .h1_ventanas {
        padding: 50px 00px 50px 0px;
        font-size: 80px;
        font-weight: 600;
    }

    .p_ventanas {
        font-weight: 400;
        padding: 20px 150px 20px 150px;
        font-size: 17px;
    }

    .imagenes_ventanas {
        display: grid;
        gap: 2rem;
        justify-content: center;
        grid-template-rows: repeat(3, 400px);
        grid-template-columns: repeat(2, 400px);
    }

    .img_tdv {
        left: 6rem;
    }

    .titulo_img {
        font-size: 22px;
    }
}

/* ----------------PROVEEDORES---------- */
.contenedor_divisor {
    position: relative;
    top: -5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.proveedores {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 9rem;
}

.img-sponsor {
    /* filter: grayscale(100%); */
    opacity: .9;
    width: 150px;
    height: 140px;
}

.img-sponsor1 {
    /* filter: grayscale(100%); */
    opacity: .9;
    width: 170px;
    height: 140px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .proveedores {
        margin-top: 2rem;
        gap: 11rem;
    }

    .contenedor_divisor {
        margin-bottom: 6rem;
    }

    .img-sponsor {
        width: 230px;
        height: 200px;
    }
}

@media screen and (max-width: 992px) {
    .contenedor_divisor {
        top: 3rem;
        width: 100%;
        height: 15rem;
        margin-bottom: 4rem;
    }

    .proveedores {
        margin-top: 4rem;
        gap: 5rem;
    }

    .proveedores img {
        width: 150px;
        height: 130px;
    }
}

/* ---------------------PAGINA OBRAS --------------------*/
/* 
    background-image: url(img/fondoparadim.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
} */

.body_obras {
    width: 100%;
    height: 100%;
}

.section_body_first {
    height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
}

.background-1 {
    display: flex;
    justify-content: center;
    position: relative;
    left: 20vh;
    top: 5rem;
    width: 80%;
    background-color: #eee;
    box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.3);
    height: 80vh;
}

.background-1-section {
    width: 50%;
}

.background-1-section div {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: 8rem;
    margin-left: 4rem;
}

.background-1-section div h1 {
    margin-top: 2rem;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.background-1-section div h3 {
    color: var(--color-secondary);
    font-size: 50px;
    font-weight: 600;
}

.img-1 {
    position: relative;
    left: 10rem;
    top: 20%;
    width: 600px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .background-1 {}

    .background-1-section div {
        top: 13rem;
    }

    .background-1-section div h1 {
        font-size: 25px;
    }

    .background-1-section div h3 {
        font-size: 80px;
        font-weight: 600;
    }

    .img-1 {
        left: 8rem;
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    .background-1 {
        flex-direction: column;
        left: 5vh;
        top: 10rem;
        width: 80%;
    }

    .background-1-section {
        width: 100%;
    }

    .background-1-section div {
        top: 0rem;
    }

    .background-1-section div h1 {
        font-size: 35px;
    }

    .background-1-section div h3 {
        margin-top: -10rem;
        font-size: 90px;
        font-weight: 600;
    }

    .img-1 {
        left: 0rem;
        width: 800px;
    }
}

/* -------- CARD ---------- */
.card-principal2 {
    margin-bottom: 10rem;
    background-color: #fff;
    display: grid;
    grid-auto-rows: 29rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
    cursor: pointer;
    max-width: 450px;
    width: 100%;
    height: 450px;
    position: relative;
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/2.jpg);
    object-fit: cover;
    background-size: 800px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-position-y 500ms ease;
    background-position: center;
    background-size: 600px;
}

.card:nth-child(2) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/21.jpg);
    background-position: center;
    background-size: 700px;
}

.card:nth-child(3) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/26.jpg);
    background-position: top;
    background-size: 700px;
}

.card:nth-child(4) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/29.jpg);
    background-size: 700px;
}

.card:nth-child(5) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/5.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(6) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/11.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(7) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/17.jpg);
    background-position: center;
    background-size: 600px;
}

.card:nth-child(8) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/4.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(9) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/12.jpg);
    background-position: top;
    background-size: 800px;
}

.card:nth-child(10) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/19.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(11) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/28.jpg);
    background-position: center;
    background-size: 500px;
}

.card:nth-child(12) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/31.jpg);
    background-position: top;
    background-size: 850px;
}

.card:nth-child(13) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/Imagen\ de\ WhatsApp\ 2023-04-18\ a\ las\ 15.44.42.jpg);
    background-position: center;
    background-size: 600px;
}

.card:nth-child(14) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/24.jpg);
    background-position: top;
    background-size: 500px;
}

.card:hover {
    background-position-y: -50px;
}

.card-titles {
    text-align: center;
    position: absolute;
    bottom: 45px;
    transition: transform 500ms ease;
}

.card:hover .card-titles {
    transform: translateY(-170px);
}

.card-titles h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    transform: rotate(-90deg) translateX(50px) translateY(-90px);
    transition: transform .5s ease;
}

.card:hover .card-titles h1 {
    transform: rotate(0deg);
}

.card-objects {
    margin-top: 1rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 500ms ease,
        opacity 500ms ease;
    padding: 0 15px;
    line-height: 22px;
    word-spacing: 1px;
}

.card:hover .card-objects {
    transform: translateY(0);
    opacity: 1;
}

.card-objects p {
    color: var(--color-secondary);
    margin-top: 0.5rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .card-principal2 {
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
        grid-auto-rows: 40rem;
    }

    .card {
        cursor: pointer;
        max-width: 450px;
        width: 100%;
        height: 600px;
        position: relative;
        background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/2.jpg);
        object-fit: cover;
        background-size: 800px;
        padding: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-position-y 500ms ease;
        background-position: center;
        background-size: 1000px;
    }

    .card:nth-child(2) {
        background-size: 1000px;
    }

    .card:nth-child(3) {
        background-size: 1000px;
    }

    .card:nth-child(4) {
        background-size: 1000px;
    }

    .card:nth-child(5) {
        background-size: 1000px;
    }

    .card:nth-child(6) {
        background-size: 1000px;
    }

    .card:nth-child(7) {
        background-size: 1000px;
    }

    .card:nth-child(8) {
        background-size: 1000px;
    }
}

@media screen and (max-width: 992px) {
    .card-principal2 {
        display: grid;
        gap: 3rem;
        grid-auto-rows: 40rem;
        grid-template-columns: 1fr;
        margin-left: 10rem;
    }

    .card {
        max-width: 40rem;
        width: 100%;
        height: 40rem;
        position: relative;
        background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/2.jpg);
        object-fit: cover;
        background-size: 800px;
        padding: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-position-y 500ms ease;
        background-position: center;
        background-size: 800px;
    }

    .card:nth-child(2) {

        background-size: 1000px;
    }

    .card:nth-child(3) {

        background-size: 1000px;
    }

    .card:nth-child(4) {

        background-size: 1000px;
    }

    .card:nth-child(5) {

        background-size: 1000px;
    }

    .card:nth-child(6) {

        background-size: 1100px;
    }

    .card:nth-child(7) {

        background-size: 1000px;
    }

    .card:nth-child(8) {

        background-size: 1000px;
    }
}

/* 
/* /////////////// PAGINA EMPRESA  ////////////// */

/* --------- SECTION 2 --------- */
.section2 {
    display: flex;
    background-color: #fff;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9921218487394958) 20%, rgba(255, 255, 255, 0.008928571428571397) 100%); */
    width: 100%;
    height: 40rem;
}

.section2-1 {
    width: 50%;
}

.primer_section {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 5rem;
}

.primer_section h3 {
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.primer_section h1 {
    font-weight: 300;
    color: #000;
    font-size: 18px;
}

.segundo_section {
    background-image: url(img/image00005.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.elementor_divider2 {
    height: 7px;
    width: 7rem;
    position: relative;
    top: 1rem;
    background-color: var(--color-secondary);
}

@media screen and (max-width: 992px) {
    .section2 {
        flex-direction: column;
        height: 80rem;
    }

    .section2-1 {
        width: 80%;
        height: 40rem;
        position: relative;
    }

    .primer_section {
        text-align: center;
        left: 0rem;
        padding: 1rem;
    }

    .primer_section h3 {
        color: #666;
        margin-bottom: 1rem;
        font-size: 45px;
    }

    .primer_section h1 {
        font-size: 35px;
    }

    .elementor_divider {
        height: 10px;
        width: 10rem;
        position: relative;
        top: 3rem;
    }

    .segundo_section {
        position: relative;
        left: 10%;
        margin-bottom: 5rem;
    }
}


/* ------ SEGUNDO SECTION ------ */
.section2-2 {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 40rem;
}

.primer_section2 {
    background-color: #fff;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(4, 41, 5, 0) 100%); */
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 5rem;
}

.primer_section2 h1 {
    font-size: 18px;
    color: #000;
    font-weight: 300;
}

.segundo_section2 {
    background-image: url(img/image00066.jpeg);
    width: 67%;
    filter: grayscale(.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .section2 {
        height: 60rem;
    }

    .section2-2 {
        height: 60rem;
    }

    .primer_section h3 {
        font-size: 30px;
    }

    .primer_section h1 {
        font-size: 25px;
        margin-bottom: 2rem;
    }

    .primer_section2 h1 {
        font-size: 25px;
        margin-bottom: 2rem;
    }

    .elementor_divider {
        height: 12px;
        width: 14rem;
        top: 2rem;
    }

    .segundo_section2 {
        width: 60%;
        position: relative;
    }

}

@media screen and (max-width: 992px) {
    .section2-2 {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        height: 70rem;
    }

    .primer_section2 {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 5rem;
    }

    .primer_section2 h1 {
        font-size: 35px;
        color: #000;
        font-weight: 500;
    }

    .segundo_section2 {
        height: 60rem;
        width: 80%;
        position: relative;
        left: 10%;
        margin-bottom: 5rem;
        filter: grayscale(.7);
    }

}

/* TEXT */
.text_blackGradient {
    width: 100%;
    height: 50rem;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9921218487394958) 1%, rgba(0, 0, 0, 0.7372198879551821) 46%, rgba(255, 255, 255, 0.008928571428571397) 100%); */
}

.text_us {
    display: flex;
    border: solid #000 5px;
    width: 80%;
    position: relative;
    left: 10%;
    top: 15%;
}

.text_us p {
    padding: 100px;
    color: #000;
    font-size: 19px;
    font-weight: 500;
    z-index: 10;
}

.text_us div {
    width: 50%;
}

.text_us2 {
    background-image: url(img/fondo3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    filter: grayscale(.7);
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .text_blackGradient {
        height: 80rem;
    }

    .text_us {
        border: solid #000 5px;
        top: 20%;
        height: 60rem;
    }

    .text_us p {
        padding: 120px;
        color: #000;
        font-size: 24px;
        font-weight: 500;
        z-index: 10;
    }


}

@media screen and (max-width: 992px) {
    .text_blackGradient {
        height: 100rem;
    }

    .text_us {
        display: flex;
        flex-direction: column;
        border: solid #000 8px;
        width: 80%;
        position: relative;
        left: 10%;
        top: 15%;
    }

    .text_us p {
        padding: 50px;
        font-size: 26px;
    }

    .text_us div {
        width: 100%;
        height: 40rem;
    }

}

/* OPINIONES */
.section {
    padding: 0 3rem;
    text-align: left;
    transition: transform 1s;
    opacity: 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section__title {
    position: relative;
    top: 12rem;
    max-width: 30rem;
    margin: 0 auto 1rem auto;
}

.section__description {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.section__header {
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
    color: #666;
}

/* SLIDER */
.slider {
    max-width: 60rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.2rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 25%;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: var(--color-secondary);
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 60%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -5rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 10rem;
    font-family: inherit;
    color: var(--color-secondary);
    z-index: -1;
}

.testimonial__header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 16px;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 10rem;
    font-style: normal;
    display: grid;

}

.testimonial__name {
    font-size: 17px;
    color: var(--color-secondary);
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 20px;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .section {
        text-align: center;
    }

    .section__title {
        position: relative;
        top: 10rem;
        max-width: 50rem;
    }

    .section__description {
        font-size: 35px;
    }

    .section__header {
        font-size: 50px;
        color: #666;
    }

    /* SLIDER */
    .slider {
        max-width: 80rem;
        height: 65rem;
    }

    .slide {
        height: 60rem;
    }

    .slider__btn {
        font-size: 4rem;
    }

    .dots__dot {
        height: 1rem;
        width: 1rem;
    }

    /* TESTIMONIALS */
    .testimonial {
        width: 70%;
    }

    .testimonial__header {
        font-size: 25px;
        font-weight: 600;
    }

    .testimonial__text {
        font-size: 25px;
        color: #000;
    }

    .testimonial__author {
        margin-left: 0rem;
        font-style: normal;
        display: grid;

    }

    .testimonial__name {
        font-size: 27px;
    }

    .testimonial__location {
        font-size: 27px;
    }
}

@media screen and (max-width: 992px) {
    .section {
        text-align: center;
    }

    .section__title {
        position: relative;
        top: 5rem;
        max-width: 50rem;
    }

    .section__description {
        font-size: 24px;
    }

    .section__header {
        font-size: 40px;
        color: #666;
    }

    /* SLIDER */
    .slider {
        max-width: 50rem;
        height: 80rem;
    }

    .slide {
        height: 60rem;
    }

    .slider__btn {
        font-size: 2rem;
    }

    .dots__dot {
        height: .9rem;
        width: .9rem;
    }

    /* TESTIMONIALS */
    .testimonial {
        width: 70%;
    }

    .testimonial__header {
        font-size: 30px;
        font-weight: 600;
    }

    .testimonial__text {
        font-size: 29px;
        color: #000;
    }

    .testimonial__author {
        margin-left: 0rem;
        font-style: normal;
        display: grid;

    }

    .testimonial__name {
        font-size: 27px;
    }

    .testimonial__location {
        font-size: 27px;
    }
}

/* ///////////////////// PAGINA CONTACT US ////////// */
.section_contactus {
    height: 100vh;
    width: 100%;
    display: flex;
}

.div_contactus1 {
    background-image: url(img/image00067\ 1\ .jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div_contactus1_h1 {
    font-size: 40px;
    color: #fff;
    margin: 5rem;
}

.info_div {
    margin-left: 5rem;
    display: flex;
}

.info_div h1 {
    color: #fff;
    margin-top: .5rem;
    font-weight: 500;
    font-size: 17px;
}

h1 span {
    margin-left: 1rem;
}

h1 a {
    font-size: 17px;
    color: #999;
}

h1 a:hover {
    color: var(--color-primary);
}

.info_icon {
    color: #fff;
    font-size: 25px;
    margin-top: .3rem;
}

/* 
p span {
    color: #fff;
    font-size: 19px;
}

p a {
    color: #aaa;
    font-size: 19px;
}

p a:hover {
    color: var(--color-secondary);
    transition: .4s;
} */

.div_contacus2 {
    background-color: #000;
    width: 50%;
}


/* ------------------------FOOTER --------------------*/
.footer {
    padding: 6rem 3rem;
    background-color: var(--color-footer);
}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 2px;
}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
    font-size: 15px;
    color: #eee;
    text-decoration: none;
}

.footer__link:hover {
    color: var(--color-secondary);
    transition: .5s;
}

.footer__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.footer__copyright {
    font-size: 15px;
    color: #aaa;
    text-align: center;
}

.footer__copyright .footer__link {
    font-size: 15px;
}


@media screen and (max-width: 992px) {

    .footer__copyright {
        font-size: 30px;
        text-align: center;
    }

    .footer__copyright .footer__link {
        font-size: 30px;
    }
}


/*---------------------------------------------------------------------------RESPONSIVE CON 1500PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {}

/*---------------------------------------------------------------------------RESPONSIVE CON 1200PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {}

/*---------------------------------------------------------------------------RESPONSIVE CON 992PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 992px) {
    body {
        width: 100%;
    }

    .boton {
        display: none;
    }

    .list {
        display: flex;
        margin-top: 2.3rem;
    }

    .logo .material-symbols-outlined {
        visibility: visible;
        display: flex;
        color: #000;
        margin-left: 1em;
        font-size: 70px;
        z-index: 30;
    }

    .abajo .material-symbols-outlined {
        color: #000;
        z-index: 30;
    }

    .logo {
        width: 400px;
    }

    nav {
        height: 11rem;
    }

    nav.abajo {
        height: 10rem;
    }

    li.list {
        border-bottom: solid 3px var(--color-secondary);
    }


    /* ///////////BODY////////////// */

    @media screen and (max-width: 992px) {
        .contenedor_divisor {
            width: 100%;
            height: 15rem;
        }

        .proveedores {
            gap: 5rem;
        }

        .proveedores img {
            width: 150px;
            height: 130px;
        }
    }


    footer {
        height: 900px;
    }

    .footer__nav {
        font-size: 40px;
        position: relative;
        text-align: center;
        gap: 3rem;
    }

    .footer__item {
        margin-top: 3rem;
        margin-right: 1rem;
    }

    .footer__link {
        font-size: 25px;
    }

    .footer__logo {
        height: 100px;
    }


}

/*---------------------------------------------------------------------------RESPONSIVE CON 768PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {}

.logo .menu-icon {}

/*-----------------

/*----------- MOBILE ------------------------*/
@media screen and (max-width: 576px) {}