:root {
    --color-primary: rgb(0, 128, 0);
    --color-secondary: rgb(1, 196, 1);
    --color-tertiary: #ff585f;
    --color-primary-darker: #18191b;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #0c2b2c;
    --color-footer: #37383d;
    --color-tertiary-opacity: rgb(112, 128, 144);
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin-top: 3.3rem;
    background-color: #fff;
    font-family: 'Roboto Condensed', serif;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-thumb {
    background: #D3D3D3;
    border-radius: 5px;
    padding-right: 2px;
}

/* /////WHATSAPP//// */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .float {
        font-size: 50px;
        width: 100px;
        height: 100px;
    }

    .my-float {
        margin-top: 26px;
    }
}

/*----- HEADER -------*/
header {
    width: 100%;
}

/* BORRAR EN CASO DE CAMBIO */
.abajo {
    background: #fff;
    padding: 0px;
    z-index: 20;
}

.logo {
    width: 200px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .logo {
        width: 300px;
    }

}

.logo-link {
    cursor: pointer;
    position: relative;
    right: 150px;
}

.logo-link-nav {
    cursor: pointer;
}

.list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li {
    display: inline-block;
}

.boton {
    color: var(--color-footer3);
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding: 15px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .boton {
        font-size: 19px;
    }
}


.boton:hover {
    color: var(--color-secondary);
}

nav {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    align-items: center;
    transition: .9s;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.nav-up {
    background-color: #fff;
    padding: 6px;
    margin-left: 20%;
    gap: 20%;
    display: flex;
    transition: .9s;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar .material-symbols-outlined {
    color: #fff;
}

.abajo .material-symbols-outlined {
    color: #000;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

.logo .material-symbols-outlined {
    visibility: hidden;
}


nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 60%;
    padding: 20px 0;
    background-color: var(--color-footer);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.lists {
    margin-top: 10rem;
    list-style: none;
    padding: 0px;
}

.list2 {
    float: none;
    width: 100%;
}

.link {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 2;
    border-left: 10px solid var(--color-secondary);
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.link:hover {
    border-bottom: 0px;
    color: #fff;
}

.link:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

.link:hover:after {
    width: 100%;
    background: var(--color-secondary);
}

nav .sidebar {
    z-index: 7;
    position: fixed;
    top: 0;
    left: -100%;
    height: 40vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    top: ;
    20% pointer-events: auto;
}



/* ------- body ------------------- */
.barra {
    width: 100%;
    display: flex;
    height: 2.4rem;
    background: rgba(238, 238, 238, .3);
    position: relative;
}

.barra-h1 {
    display: flex;
    position: relative;
    font-weight: 600;
    color: #333;
    font-size: 16px;
    left: 9.4%;
    top: 10px;
}

.barra-h1-icons {
    display: flex;
    position: relative;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    left: 58%;
    top: 7px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .barra {
        height: 2.5rem;
    }

    .barra-h1 {
        font-size: 20px;
        top: 9px;
        left: 8%;
    }

    .barra-h1-icons {
        font-size: 17px;
        top: 10px;
    }
}

/* icons

.icons {
    top: -5px;
    display: flex;
    justify-content: right;
    gap: 1rem;
    position: relative;
    left: 60%;
}

.fa-brands:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
    transition: all .6s;
    color: #000;
    background-color: transparent;
}

.fa-brands {
    cursor: pointer;
    padding: 10px 10px;
    font-size: 20px;
    position: relative;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .fa-brands {
        top: 4px;
        font-size: 26px;

    }
}

.icon-wsp {
    color: rgb(1, 196, 1);
}

.fa-facebook {
    color: #55acee;

}

.fa-instagram {
    color: #e4405f;

} */

/* /////// FONDO ///////// */

/* .fondoQS {
    background-image: url(img/image00082.jpeg);
    margin-top: 3.3rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 320px;
    opacity: .9;
} */

/* ////////// TITULO A PRODUCTOS /////////// */
.productos_titulo {
    background-image: url(img/fondoparadim2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 25rem;
    display: flex;
    width: 100%;
    max-width: 100%;
}

.productos_titulo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productos_titulo_h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 9rem;
    padding-top: 1rem;
}

.productos_titulo_h1 span {
    color: rgb(124, 252, 0);
}

.elementor_divider {
    height: 5px;
    width: 7rem;
    position: relative;
    left: 9.1rem;
    top: 1rem;
    background-color: rgb(124, 252, 0);
}


.productos_titulo p {
    color: #eee;
    margin-left: 9rem;
    font-size: 35px;
    font-weight: 600;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .productos_titulo {
        margin-top: 4.4rem;
        height: 35rem;
    }

    .productos_titulo_h1 {
        font-size: 30px;
    }


    .productos_titulo p {
        font-size: 50px;
    }

    .elementor_divider {
        height: 7px;
        width: 10rem;
    }

}




/*/////////////////// OPERATIONS ////////////////////////*/
.operations {
    display: flex;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20rem;
    margin-top: 5rem;
}

.operations__tab-container {
    position: relative;
    justify-content: center;
    margin-bottom: 5rem;
}

.operations__tab-container h1 {
    position: relative;
    left: 3rem;
    font-size: 19px;
    margin-bottom: 1rem;
}

.operations__tab {
    /* margin-right: 1rem; */
    /* transform: translateY(-50%); */
    background-color: #fff;
}

.operations__tab span {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

button p {
    color: #aaa;
    margin-top: 5px;
    font-size: 14px;
}

.operations__tab--active {
    color: rgb(50, 205, 50);
    /* background-color: var(--color-footer); */
    /* transform: translateY(-66%); */
}

.operations__content {
    display: none;
    background-color: #fff;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
}

.operations__content--active {
    display: grid;
    width: 100%;
    height: 100rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {

    .operations__content--active {
        height: 150rem;
    }
}

.btn {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    cursor: pointer;
    border-bottom: 1px solid #D3D3D3;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    left: 3rem;
    padding: 15px;
}

.btn:hover {
    background-color: #eee;
}

/* .btn::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(70, 130, 180);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.btn:hover::after {
    width: 100%;
    right: 0;
    color: #D3D3D3;
} */

@media (min-width: 1920px) and (max-width: 2560px) {
    .btn {
        width: 25rem;
        height: 8rem;
        padding: 30px;
    }

    .operations__tab span {
        font-size: 25px;
    }

    button p {
        font-size: 17px;
    }
}



/*////////// GRID VIDRIO////// */
.grid-container {
    text-align: center;
    display: grid;
    position: relative;
    margin-left: 10%;
    grid-template-rows: repeat(4, 700px);
    grid-template-columns: repeat(3, 21rem);
    gap: 2rem;
}

/* 
.--1 {
    position: relative;
    padding: 1rem;
    left: 1rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
} */

/* 
.team-area h1 {
    letter-spacing: 15px;
    margin-bottom: 2rem;
    font-weight: 600;
    color: rgb(189, 236, 182, .6);
    font-size: 10rem;
    margin-bottom: 1rem;
}

.team-area p {
    padding: 0 30px 0 30px;
    font-weight: 300;
    color: #333;
    font-size: 17px;
    text-align: left;
}

.team-area h2 {
    padding: 0 30px 0 30px;
    font-weight: 500;
    color: var(--color-footer);
    text-align: left;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.team-area img {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
} */

/*//////////VIDRIOS/GRIDS DE VIDRIOS ////// */
.grid-item4 {
    border-radius: 20px;
    text-align: left;
    border: 3px solid #eee;
    background-color: rgba(238, 238, 238, .3);
}

.grid-item4 h1 {
    color: #000;
    font-size: 30px;
    margin-left: 1rem;
    margin-top: 7px;
}

.grid-item4 h2 {
    font-size: 17px;
    color: rgb(50, 205, 50);
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.grid-item4 p {
    font-weight: 400;
    color: #000;
    font-size: 15px;
    padding: 14px;
}

.grid-item4 img {
    border-radius: 20px;
    width: 100%;
    height: 20rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .grid-container {
        text-align: center;
        display: grid;
        position: relative;
        margin-left: 10%;
        grid-template-rows: repeat(4, 900px);
        grid-template-columns: repeat(3, 21rem);
        gap: 7rem;
    }

    .grid-item4 {
        width: 25rem;
        border-radius: 20px;
    }

    .grid-item4 h2 {
        font-size: 25px;
    }

    .grid-item4 p {
        font-size: 18px;
    }

    .grid-item4 img {
        width: 100%;
        height: 50%;
    }
}

/*////////// TIPOS DE ABERTURAS ////// */
.contenedor_tdv {
    background-color: rgb(189, 236, 182, .8);
    margin-top: 10rem;
    padding: 5rem 0 5rem 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.h1_ventanas {
    color: var(--color-footer);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.p_ventanas {
    text-align: left;
    font-weight: 500;
    color: #000;
    padding: 20px 250px 20px 250px;
    font-size: 18px;
}

.h1_ventanas2 {
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.imagenes_ventanas {
    width: 70%;
    display: flex;
    justify-content: center;
}

.flex_img {
    display: flex;
    flex-wrap: wrap;
}

.flex_img h1 {
    color: var(--color-footer);
    margin-left: 2rem;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.img_tdv {
    width: 150px;
    height: 150px;
}


.section_final_tdv {
    margin: 5rem;
    display: flex;
    gap: 5rem;
}

.section_final_tdv img {
    width: 35rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {

    .section_final_tdv img {
        width: 40rem
    }
}

/* ----------------PROVEEDORES---------- */
.contenedor_divisor {
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.contenedor_divisor_h1 {
    font-weight: 400;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.proveedores {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5rem;
}

.img-sponsor {
    width: 150px;
    height: 140px;
}

/* ---------------------PAGINA OBRAS --------------------*/
/* .fondo_Obras {
    background-image: url(img/fondoparadim.jpg);
    margin-top: 3.3rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 500px;
    opacity: .8;
} */

.body_obras {
    background-color: #000;
    width: 100%;
    height: 100%;
}

/* -------- CARD ---------- */
.card-principal2 {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-auto-rows: 29rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    background-color: #000;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .card-principal2 {
        grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
        grid-auto-rows: 30rem;
    }
}

.card {
    cursor: pointer;
    max-width: 450px;
    width: 100%;
    height: 450px;
    position: relative;
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/2.jpg);
    object-fit: cover;
    background-size: 800px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-position-y 500ms ease;
    background-position: center;
    background-size: 800px;
}

.card:nth-child(2) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/21.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(3) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/26.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(4) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/29.jpg);
    background-size: 800px;
}

.card:nth-child(5) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/5.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(6) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/11.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(7) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/17.jpg);
    background-position: center;
    background-size: 800px;
}

.card:nth-child(8) {
    background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 /0.3), rgb(0 0 0 / 0.3)), url(img/4.jpg);
    background-position: center;
    background-size: 800px;
}

.card:hover {
    background-position-y: -100px;
}

.card-titles {
    text-align: center;
    position: absolute;
    bottom: 45px;
    transition: transform 500ms ease;
}

.card:hover .card-titles {
    transform: translateY(-170px);
}

.card-titles h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    transform: rotate(-90deg) translateX(50px) translateY(-90px);
    transition: transform .5s ease;
}

.card:hover .card-titles h1 {
    transform: rotate(0deg);
}

.card-objects {
    margin-top: 1rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 500ms ease,
        opacity 500ms ease;
    padding: 0 15px;
    line-height: 22px;
    word-spacing: 1px;
}

.card:hover .card-objects {
    transform: translateY(0);
    opacity: 1;
}

.card-objects p {
    color: var(--color-secondary);
    margin-top: 0.5rem;
}

/* 
/* /////////////// PAGINA SOBRE NOSOTROS  ////////////// */
.fondo_us {
    background-image: url(img/fondoparadim2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 25rem;
    display: flex;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 1920px) and (max-width: 2560px) {
    .fondo_us {
        height: 35rem;
    }
}


/* --------- SECTION 2 --------- */
.section2 {
    display: flex;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9921218487394958) 20%, rgba(255, 255, 255, 0.008928571428571397) 100%);
    width: 100%;
    height: 40rem;
}

.section2-1 {
    width: 50%;
}

.primer_section {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 5rem;
}

.primer_section h3 {
    color: rgb(124, 252, 0);
    margin-bottom: 1rem;
}

.primer_section h1 {
    font-weight: 500;
    color: #fff;
    font-size: 25px;
}

.elementor_divider {
    height: 5px;
    width: 7rem;
    position: relative;
    top: 1rem;
    right: 10rem;
    background-color: rgb(124, 252, 0);
}

.segundo_section {
    background-image: url(img/image00005.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

/* ------ SEGUNDO SECTION ------ */
.section2-2 {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 40rem;
}

.primer_section2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(4, 41, 5, 0) 100%);
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 5rem;
}

.primer_section2 h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

.segundo_section2 {
    background-image: url(img/image00066.jpeg);
    width: 67%;
    filter: grayscale(.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .section2 {
        height: 60rem;
    }

    .section2-2 {
        height: 60rem;
    }

    .primer_section h3 {
        font-size: 30px;
    }

    .primer_section h1 {
        font-size: 35px;
    }

    .primer_section2 h1 {
        font-size: 35px;
    }

    .elementor_divider {
        height: 12px;
        width: 14rem;
        top: 2rem;
    }

    .segundo_section2 {
        width: 62%;
    }

}

/* TEXT */
.text_blackGradient {
    width: 100%;
    height: 50rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9921218487394958) 1%, rgba(0, 0, 0, 0.7372198879551821) 46%, rgba(255, 255, 255, 0.008928571428571397) 100%);
}

.text_us {
    display: flex;
    border: solid #fff 8px;
    width: 80%;
    position: relative;
    left: 10%;
    top: 15%;
}

.text_us p {
    padding: 100px;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    z-index: 10;
}

.text_us div {
    width: 50%;
}

.text_us2 {
    background-image: url(img/fondo3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    filter: grayscale(.7);
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .text_blackGradient {
        height: 70rem;
    }

    .text_us {
        border: solid #fff 12px;
        top: 20%;
        height: 50rem;
    }

    .text_us p {
        padding: 120px;
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        z-index: 10;
    }


}

/* OPINIONES */
.section {
    padding: 0 3rem;
    text-align: left;
    transition: transform 1s;
    opacity: 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section__title {
    position: relative;
    top: 12rem;
    max-width: 30rem;
    margin: 0 auto 1rem auto;
}

.section__description {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.section__header {
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
    color: #666;
}

/* SLIDER */
.slider {
    max-width: 60rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.2rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 25%;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: var(--color-secondary);
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 60%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -5rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 10rem;
    font-family: inherit;
    color: var(--color-secondary);
    z-index: -1;
}

.testimonial__header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 20px;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 10rem;
    font-style: normal;
    display: grid;

}

.testimonial__name {
    font-size: 17px;
    color: var(--color-secondary);
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 20px;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}






/* ------------------------FOOTER --------------------*/
.footer {
    padding: 6rem 3rem;
    background-color: var(--color-footer);
}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 2px;
}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
    font-size: 15px;
    color: #eee;
    text-decoration: none;
}

.footer__link:hover {
    color: var(--color-secondary);
    transition: .5s;
}

.footer__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.footer__copyright {
    font-size: 15px;
    color: #aaa;
    text-align: center;
}

.footer__copyright .footer__link {
    font-size: 15px;
}



/*---------------------------------------------------------------------------RESPONSIVE CON 1500PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {}

/*---------------------------------------------------------------------------RESPONSIVE CON 1200PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {}

/*---------------------------------------------------------------------------RESPONSIVE CON 992PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 992px) {
    body {
        width: 100%;
    }

    .boton {
        display: none;
    }

    .list {
        display: flex;
        margin-top: 2.3rem;
    }

    .logo .material-symbols-outlined {
        visibility: visible;
        display: flex;
        color: #000;
        margin-left: 1em;
        font-size: 70px;
        z-index: 30;
    }

    .abajo .material-symbols-outlined {
        color: #000;
        z-index: 30;
    }

    .logo {
        width: 400px;
    }

    nav {
        height: 11rem;
    }

    nav.abajo {
        height: 10rem;
    }

    li.list {
        border-bottom: solid 3px var(--color-secondary);
    }


    /* ///////////BODY////////////// */

    /* ------- body ------------------- */
    .barra {
        width: 100%;
        display: flex;
        height: 4rem;
        background: linear-gradient(to right, var(--color-footer) 60%, #eee 40%);
        position: relative;
        top: 11rem;
    }

    .barra-h1 {
        display: flex;
        position: relative;
        font-weight: 400;
        color: #fff;
        font-size: 30px;
        left: 10%;
        top: 11px;
    }

    .barra-h1-icons {
        display: none;

    }

    /*icons*/

    .icons {
        display: flex;
        justify-content: right;
        gap: 1rem;
        position: absolute;
        margin-left: 5rem;
    }

    .fa-brands:hover {
        transform: translateY(-3px) scale(1.05);
        filter: none;
        transition: all .6s;
        color: #000;
        background-color: transparent;
    }

    .fa-brands {
        cursor: pointer;
        padding: 10px 10px;
        font-size: 35px;
        position: relative;
    }

    /* GRID////// */
    .grid-container {
        display: grid;
        grid-template-rows: repeat(2, 420px);
        grid-template-columns: repeat(2, 1fr);
    }

    .team-area {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .single-team {
        width: 440px;
        height: 400px;
        padding: 24px;
        background-color: #fff;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 1s ease-out;
        cursor: pointer;
    }

    .single-team:hover:before {
        opacity: .7;
    }

    .single-team:hover .team-text {
        opacity: 1;
        transform: translateY(0);
    }

    .single-team:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, var(--color-primary), transparent);
        z-index: 2;
        transition: .5s;
        opacity: 0;
    }

    .single-team img {
        width: 100%;
        height: 100%;
        transition: .5s;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .single-team .team-text {
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 0;
        transform: translateY(60px);
        transition: .5s;
    }

    .team-text h2 {
        font-weight: 500;
        font-size: 23px;
        margin: 0;
        letter-spacing: 3px;
    }

    .team-text p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
    }

    .team-text a {
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        text-decoration: none;
    }

    /* ////////// TITULO A PRODUCTOS /////////// */
    .productos_titulo {
        margin-top: 15rem;
        position: relative;
        width: 100%;
        height: 8rem;
        padding: 20px;
    }

    .productos_titulo_h1 {
        font-size: 45px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .productos_titulo span {
        color: var(--color-secondary);
    }

    .productos_titulo p {
        margin-left: 5rem;
        padding-top: 1rem;
        font-size: 25px;
        font-weight: 300;
    }

    .fa-sharp {
        font-size: 18px;
        padding-left: 5px;
        color: var(--color-secondary);
    }


    /*/////////////////// OPERATIONS ////////////////////////*/
    .operations {
        max-width: 100%;
        width: 100%;
        margin: 4rem auto 0 auto;
    }

    .operations__tab-container {
        margin-top: 7rem;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #eee;
    }

    .operations__tab {
        margin-right: 3rem;
        transform: translateY(-40%);
        background-color: #fff;
    }

    .operations__tab span {
        font-size: 25px;
        font-weight: 600;
        display: inline-block;

    }

    .operations__tab--active {
        color: #fff;
        background-color: var(--color-footer);
        transform: translateY(-66%);
    }

    .operations__content {
        display: none;
        background-color: #eee;
        /* JUST PRESENTATIONAL */
        font-size: 1.7rem;
    }

    .operations__content--active {
        display: grid;
        width: 100%;
        height: 105rem;
    }

    .btn {
        display: inline-block;
        font-size: 13px;
        font-family: inherit;
        border: none;
        padding: .7rem 4rem;
        cursor: pointer;
        transition: all 0.3s;

    }

    .btn:hover {
        background-color: var(--color-footer);
    }

    /* PROVEEDORES */
    .contenedor_divisor_h1 {
        font-size: 35px;
        font-weight: 400;
        margin: 50px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }

    .proveedores {
        display: flex;
        position: relative;
        justify-content: center;
        gap: 5rem;
    }

    .img-sponsor {
        width: 120px;
        height: 110px;
    }

    /* /////// FONDO ///////// */
    /* 
    .fondoQS {
        background-image: url(img/fondoparadim2.jpg);
        margin-top: 11rem;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 1000px;
        opacity: .9;
    }

    .fondoQS-logo1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        position: absolute;
        right: 18rem;
        top: 30%;
    } */


    footer {
        height: 900px;
    }

    .footer__nav {
        position: relative;
        text-align: center;
        left: 5%;
    }

    .footer__item {
        margin-right: 1rem;
    }

    .footer__link {
        font-size: 30px;
    }

    .footer__logo {
        height: 100px;
    }

    .footer__copyright {
        font-size: 35px;
    }

    .footer__link .twitter-link {
        font-size: 35px;
    }

}

/*---------------------------------------------------------------------------RESPONSIVE CON 768PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {}

.logo .menu-icon {}

/*-----------------

/*----------- MOBILE ------------------------*/
@media screen and (max-width: 576px) {}